* {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(238, 238, 238);
}

#header-text {
  position: fixed;
  display: inline-block;
  margin-left: 40px;
  font-family: 'Noto Sans', sans-serif;
  font-size: 24px;
  line-height: 64px;
  vertical-align: center;
  color: rgba(255, 255, 255, 1);
}

#searchbar {
  position: relative;
  margin: 0 auto;
  width: 40vw;
}

label > i.material-icons {
  transform: translateY(-18.5%);
}

.heading {
  margin-top: 0;
  margin-bottom: 3rem;
}

.view {
  padding-top: 64px;
}

.term-card {
  margin-top: 0 !important;
  margin-bottom: 0.5rem !important;
  height: 72px;
}

.term-content {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  margin: 0 !important;
  margin-left: 40px !important;
  cursor: pointer;
}

.data-header {
  margin-bottom: 1rem;
  font-family: 'Noto Sans', sans-serif;
  font-size: 1.5rem;
}

.data-footer {
  font-size: 0.75rem;
  color: #757575;
}

#area-graph,
#world-map {
  height: 100%;
  padding: 1rem;
}

svg {
  height: inherit;
  width: 100%;
}

#world-map > svg {
  transform: translateY(1%);
  border: 2px solid rgb(34, 120, 207);
}
